* {
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 20px;
}

a {
  text-decoration: none;
}
// body {
//   // background: url("../src/assets/Vector\ 1.png") no-repeat center/cover;
// }
